h1{
  background-color: rgb(97, 107, 194);
  padding: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.body{
  background-color: antiquewhite;
}
  .cont-app{
    background-color:rgb(245, 247, 225);
  }

  ul{
    padding: 40px;
  }

  h2{
    padding: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  h3{
    text-align: center;
  }

  .par{
    text-align: center;
    padding: 11px;
  }

  .btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 171, 243);
    
  }
  .btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 171, 243);
    
  }
  .btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 171, 243);
    
  }
  .btn4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 171, 243);
    
  }
  .btn5{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 171, 243);
    
  }